{% extends 'base.html.twig' %}

{% block title %}Welcome on Shaunta's Boutique{% endblock %}

{% block body %}
<!-- en tete sous la navigation (fleurs et logo avec effets de scroll) -->
<div id="headerWrapper">	
	<div id="back-flower"></div>
	<div id="logo-text"></div>
	<div id="for-flower"></div>
</div>

<div class="container-fluid">
	





</div>
{% endblock %}


{% block footer %}
<!-- PIED DE PAGE, FOOTER -->
<footer class="text-center" id="footer">	
	&copy; Copyright 2013-2017 Shaunta's Boutique
</footer>


{% endblock %}





{% block javascripts %}

{% endblock %}
